In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [2]:
col = ["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","target"
]
df = pd.read_csv("/home/shaun/Desktop/Work/Sem1/6006CEM_ML/CW/Datasets/heart.csv",names=col)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
x = df.iloc[:,:-1].values  # set the x values to the first 13 collumns
y = df.iloc[:,-1:].values  # set the y values to the last collumn only
#print(x)
#print(y)
#print(x.shape)
#print(y.shape)

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)  # split the x and y data in to training and test sets

In [5]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)  # set the training model with increased max_iter
model.fit(x_train,y_train)  # build the model using the training data

/home/shaun/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=1000)

In [6]:
y_train_pred = model.predict(x_train)  # compare the training data with the test data
y_test_pred = model.predict(x_test)
accuracy = model.score(x_test, y_test)  
print(accuracy)

0.8289473684210527